@model BigSchool.Models.Phim

@{
    ViewBag.Title = "DetailsPhim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsPhim</h2>

<div>
    <h4>Phim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenphim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenphim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thoiluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thoiluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaykhoichieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaykhoichieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Daodien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Daodien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Namsx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namsx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matheloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matheloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apphich)
        </dt>

        <dd>
            <img src="~/Content/img/@Model.Apphich" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loaiphim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaiphim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaLP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaLP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trailer)
        </dd>
        <form action="~/Cinema/LichChieu">
            <input type="hidden" id="idphim" name="idphim" value="@Model.Tenphim" />
            <input type="submit" value="Đặt vé">
            @Html.ActionLink("Xem hoa don", "IndexHoaDon")
        </form>
    </dl>
</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Maphim }) |
    @Html.ActionLink("Back to List", "IndexPhim")
</p>
