@model BigSchool.Models.Loai_Phim

@{
    ViewBag.Title = "DetailsLoaiPhim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsLoaiPhim</h2>

<div>
    <h4>Loai_Phim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaLP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Loaiphim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaiphim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaLP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaLP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLP }) |
    @Html.ActionLink("Back to List", "IndexLoaiPhim")
</p>
