
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
<p>
    @{
        int makh = int.Parse(Request.QueryString["makh"]);
        string tenphim = Request.QueryString["tenphim"];
        string gia = Request.QueryString["gia"];
    }
</p>
<div>
    <input type="hidden" id="MaKH" name="MaKH" value="@makh" />
</div>
<div>
    <label for="@tenphim">Phim da chon:</label>
    <input type="text" id="tenphim" name="tenphim" value="@tenphim" readonly />
</div>
<div>
    <label for="@gia">Gia:</label>
    <input type="text" id="gia" name="gia" value="@gia" readonly />
</div>
<div>
    <input type="submit" value="Xác Nhận" />
   
</div>
}

