@model BigSchool.Models.Lich_Chieu

@{
    ViewBag.Title = "DeleteLichChieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteLichChieu</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lich_Chieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ngaychieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaychieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giochieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giochieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maphim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maphim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenphim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenphim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "IndexLichChieu")
        </div>
    }
</div>
