@model IEnumerable<BigSchool.Models.Rap_phim>

@{
    ViewBag.Title = "IndexRap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexRap</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenrap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenrap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Marap }) |
            @Html.ActionLink("Details", "Details", new { id=item.Marap }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Marap })
        </td>
    </tr>
}

</table>
