@model BigSchool.Models.Xuat_Chieu

@{
    ViewBag.Title = "CreateXuatChieu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style05.css" rel="stylesheet" />

</head>

<body>
    <style>
        body {
            background-color: white;
        }
    </style>

    <h2>CreateVE</h2>
    <div class="center2" style="color:black">

        @using (Html.BeginForm("CreateXuatChieu", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Xuat_Chieu</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Giochieu, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Giochieu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Giochieu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GiaXC, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GiaXC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaXC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "IndexXuatChieu")
        </div>
        </div>
        </body>
</html>